{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/teacher_one.css' %}">
{% block pageTitle %}
<div class="welcome-box2">تفاصيل المعلم</div>
{% endblock %}

<div>
    <div>
        <div>
            <div class="teacher-card">
                <h5 class="card-title">{{ teacher.id }} - {{ teacher.first_name }} {{ teacher.last_name }}</h5>
                <p class="card-text">العمر: {{ teacher.age }}</p>
                <p class="card-text">الجنس: {{ teacher.gender }}</p>
                <p class="card-text">القسم: {{ teacher.department }}</p>
                <p class="card-text">الحالة: 
                    {% if teacher.status == "نعم" %}
                    منتظم
                    {% else %}
                    غير منتظم
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
