<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>School Website</title>
</head>
<body>
    <nav>
        <img src="{% static 'images/logoAlQasam.png' %}" width=50 height=50>
        <ul>
            <li><a href="{% url 'home' %}">الرئيسية</a></li>
            <li><a href="{% url 'showTeachers' %}">المعلمين</a></li>
            <li><a href="{% url 'newPage' %}">الطلاب</a></li>
        </ul>
    </nav>
